langchain
langchain-core
langchain-community==0.4.1
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
redis// update 2024-02-08 12:25:17
// update 2024-03-09 11:12:19
