streamlit
langchain
langchain-core
langchain-community==0.4.1
langchain-experimental
langchain-huggingface
langchain-groq
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
qdrant-client
python-dotenv
redis
torch
torchvision
